@import "base.css";


.confirm{
    margin: 2rem;
    width: 20%;
border-radius: 30px;
padding: 0.5rem;
border: none;
background-color: #EA2B49;
color: white;
font-weight: bold;
}

.Or{
    margin:0 2rem;
}

h1{
    margin: 2rem;
}
 
