@import "base.css";

#selected_info ul {
    display: flex;
    grid-gap: 1rem;
    border: 1px solid grey;
    border-radius: 2rem;
}

#driver_list img {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
}

label {
    text-transform: capitalize;
}