<!-- NOTE: This is the page user sees after landing page on clicking signin button -->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up or Register for Tourpal</title>
    <link rel="stylesheet" href="/public/css/login.css">
</head>
<body>
    <header class="site-header">
        <div class="site-logo">
            <a href="/public/templates/landing-page.html"><img src="/public/images/tourpal-logo.svg" alt="logo"></a>
        </div>
    </header>

    <h1>sign up or register for Tourpal</h1>
    <div>
        Had account? <a href="/public/templates/login.html">Sign In</a>
    </div>
    <a href=""></a>
    <form action="#" id="temp1">
        <div><label for="fullname">fullname</label><br><input name="fullname" type="text" id="fullname" required></div>

        <div><label for="email">Email</label><br><input name="email" type="email" id="email" required></div>
        <div><label for="phone">phone</label><br><input name="phone" type="number" id="phone" required></div>

        <div><label for="password">Password</label><br><input name="password" type="password" id="password" required></div>
        <div><label for="confirmpassword">confirm password</label><br><input name="confirmpassword" type="text" id="confirmpassword" required></div>
        <div><label for="picture">picture</label><br><input name="picture" type="file" id="picture" ></div>


    </form>
    <div>
        <!-- <input type="submit" value="Add" id="add"> -->
        <button type="submit" id="signup">Create Account</button> <br>

    </div>

    <script src="https://www.gstatic.com/firebasejs/9.6.7/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.6.7/firebase-firestore-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.6.7/firebase-auth-compat.js"></script>

    <script src="/public/js/register.js"></script>
</body>
</html>