<!DOCTYPE html>
            <html lang="en">
            <head>
                <meta charset="UTF-8">
                <meta http-equiv="X-UA-Compatible" content="IE=edge">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <title>Maps</title>
                <link rel="stylesheet" href="../../css/select_pickup.css">
                <link rel='stylesheet' type='text/css' href='https://api.tomtom.com/maps-sdk-for-web/cdn/5.x/5.53.0/maps/maps.css'>
                <script src="https://api.tomtom.com/maps-sdk-for-web/cdn/5.x/5.53.0/maps/maps-web.min.js"></script>
                <script src="https://api.tomtom.com/maps-sdk-for-web/cdn/5.x/5.53.0/services/services-web.min.js"></script>
                <link rel='stylesheet' type='text/css' href='https://api.tomtom.com/maps-sdk-for-web/cdn/5.x/5.53.0/plugins/SearchBox/SearchBox.css'>
            </head>
    </head>
    <body>

        <div id="src" >
            <header class="site-header">
                <div>
                    <i class="fa-solid fa-bars" id="menu"></i>
        
                    <div class="site-logo">
                        <a href="#"><img src="/public/images/tourpal-logo.svg" alt="logo"></a>
                    </div>
                    <div style="visibility: hidden">
                        sffasfss
                    </div>
                </div>
            <nav>
                <ul>
                    <li><a href="/public/templates/customer/index.html">Home</a></li>
                    <li><a href="/public/templates/customer/trips.html">Trips</a></li>
                    <li><a href="/public/templates/customer/settings.html">Account Settings</a></li>
                    <!-- <li><a href="#">Notifications</a></li> -->
                    <li><a href="/public/templates/logout.html" id="logout">Log out - </a></li>
        
                </ul>
            </nav>
        </header>
        <h1>Select pickup location</h1>
            <div class="search" style="text-align: center;">
                
                <input type="text" id="query" value="">
                <button onclick="search()">SEARCH</button> <span class="Or">Or</span> <button onclick="getLocation()">Use Current Location</button>
                
                <br>
                <button class="confirm"  id="add4" >Confirm pickup</button>  
                <br>
                    <div id="mymap" style="width: 130vh; height: 80vh; margin: auto;">My Map is visible</div>
              
                     
            
            
                 
                </div>
            </html>



            <div>
                <!-- <input type="submit" value="Add" id="add"> -->
                
            </div>
        </div>





        

        
        <script type="text/javascript" src="/public/js/map.js"></script>
        <script src="https://www.gstatic.com/firebasejs/9.6.7/firebase-app-compat.js"></script>
        <script src="https://www.gstatic.com/firebasejs/9.6.7/firebase-firestore-compat.js"></script>
        <script src="https://www.gstatic.com/firebasejs/9.6.7/firebase-auth-compat.js"></script>
        <script src="/public/js/base.js"></script>
        <script src="/public/js/select-pickup.js"></script>
    </body>
</html>