<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/select-driver.css">
</head>
<body>
    <div id="selected_info">
        <!-- <span>Whistler</span>
        <span>May 5</span>
        <span>2PM - 5PM</span>
        <span>4 People</span> -->
    </div>
    <div id="driver_list" >
        <h2>Pick a tour pal</h2>

        <div id="selection">
            <!-- <input type="submit" value="Add" id="add"> -->
            <button  id="add3">Select Driver</button>
        </div>
    </div>
    <script src="https://www.gstatic.com/firebasejs/9.6.7/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.6.7/firebase-firestore-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.6.7/firebase-auth-compat.js"></script>

<script src="/public/js/select-driver.js"></script>
</body>
</html>