<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="driver_list" >
        <div>
            <span>Whistler</span>
            <span>May 5</span>
            <span>2PM - 5PM</span>
            <span>4 People</span>
        </div>
        <h2>Pick a tour pal</h2>
        <form>
            <div>
                <input type="radio" id="d1" name="dl" value="HTML">
                <label for="d1">Jordan Marlin</label><br>

                <input type="radio" id="d2" name="dl" value="CSS">
                <label for="d2">Andrew</label><br>
                
                <input type="radio" id="d3" name="dl" value="JavaScript">
                <label for="d3">Dopinder</label>
            </div>
            
        </form> 
        <div>
            <!-- <input type="submit" value="Add" id="add"> -->
            <button  id="add3">Select Driver</button>
        </div>
    </div>

<script src="/public/js/select-driver.js"></script>
</body>
</html>