<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div id="cur_exp" style="visibility: hidden;">
        <h2>Curated Experiences to Choose from</h2>
        <form>
            <div>
                <h3>Cooking Show</h3>
                <p>Join our best cooks to prepare a 5 stars fine dining dinner for your family</p>
                <input type="radio" id="html" name="ce" value="HTML">
                <label for="html">Pick</label><br>
                
                <h3>Art Museum</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum, illo?</p>
                <input type="radio" id="css" name="ce" value="CSS">
                <label for="css">Pick</label><br>


                <h3>Theme Park</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit, voluptates.</p>
                <input type="radio" id="js" name="ce" value="JS">
                <label for="js">Pick</label><br>
            </div>
            
        </form> 
        <div>
            <!-- <input type="submit" value="Add" id="add"> -->
            <button type="submit" id="add2">Search</button>
        </div>
    </div>

    <div id="driver_list" style="visibility: hidden;">
        <div>
            <span>Whistler</span>
            <span>May 5</span>
            <span>2PM - 5PM</span>
            <span>4 People</span>
        </div>
        <h2>Pick a tour pal</h2>
        <form>
            <div>
                <input type="radio" id="d1" name="dl" value="HTML">
                <label for="d1">Jordan Marlin</label><br>

                <input type="radio" id="d2" name="dl" value="CSS">
                <label for="d2">Andrew</label><br>
                
                <input type="radio" id="d3" name="dl" value="JavaScript">
                <label for="d3">Dopinder</label>
            </div>
            
        </form> 
        <div>
            <!-- <input type="submit" value="Add" id="add"> -->
            <button  id="add3">Select Driver</button>
        </div>
    </div>

    <div id="src" style="visibility: hidden;">
        <h2>Pick you up at</h2>

        <form action="">
        <div><label for="">Source Location</label><br><input name="src" type="text" id="fname2" required></div>
        </form>
        <div>
            <!-- <input type="submit" value="Add" id="add"> -->
            <button  id="add4">Select Driver</button>
        </div>
    </div>
</body>
</html>