<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/trips.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css' integrity='sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==' crossorigin='anonymous' referrerpolicy='no-referrer' />

</head>
<body>
    <header class="site-header">
        <div>
            <i class="fa-solid fa-bars" id="menu"></i>

            <div class="site-logo">
                <a href="/public/templates/landing-page.html"><img src="/public/images/tourpal-logo.svg" alt="logo"></a>
            </div>
            <div style="visibility: hidden">
                sffasfss
            </div>
        </div>
    <nav>
        <ul>
            <li><a href="/public/templates/customer/index.html">Home</a></li>
            <li><a href="/public/templates/customer/trips.html">Trips</a></li>
            <li><a href="/public/templates/customer/settings.html">Account Settings</a></li>
            <li><a href="#">Notifications</a></li>
            <li><a href="/public/templates/logout.html" id="logout">Log out - </a></li>

        </ul>
    </nav>
</header>
<main>

    <h2>Trips</h2>
    <div id="body1">
        <div class="upcomings">
            <h3>Upcomings</h3>
            <article>
                <h2>
                    <a href="" class="entry_link">Lorem, ipsum dolor.</a>
                    </h2>
                    <div class="feature-image"><img src="https://picsum.photos/800/800" alt=""></div>
            </article>
            <article>
                <h2>
                    <a href="" class="entry_link">Inventore, dolor blanditiis?</a>
                    </h2>
                    <div class="feature-image"><img src="https://picsum.photos/800/800" alt=""></div>
            </article>
            <article>
                <h2>
                    <a href="" class="entry_link">Dolores, dicta excepturi.</a>
                    </h2>
                    <div class="feature-image"><img src="https://picsum.photos/800/800" alt=""></div>
            </article>
            <article>
                <h2>
                    <a href="" class="entry_link">Fugiat, qui quidem?</a>
                    </h2>
                    <div class="feature-image"><img src="https://picsum.photos/800/800" alt=""></div>
            </article>
        </div>
        <div class="history">
            <h3>History</h3>
            <article>
                <h2>
                    <a href="" class="entry_link">Lorem, ipsum dolor.</a>
                    </h2>
                    <div class="feature-image"><img src="https://picsum.photos/800/800" alt=""></div>
            </article>
            <article>
                <h2>
                    <a href="" class="entry_link">Inventore, dolor blanditiis?</a>
                    </h2>
                    <div class="feature-image"><img src="https://picsum.photos/800/800" alt=""></div>
            </article>
            <article>
                <h2>
                    <a href="" class="entry_link">Dolores, dicta excepturi.</a>
                    </h2>
                    <div class="feature-image"><img src="https://picsum.photos/800/800" alt=""></div>
            </article>
            <article>
                <h2>
                    <a href="" class="entry_link">Fugiat, qui quidem?</a>
                    </h2>
                    <div class="feature-image"><img src="https://picsum.photos/800/800" alt=""></div>
            </article>
        </div>
    </div>
    
</main>
    <footer class="register-footer">
        <p>@ 2022 Digital Architects. All Rights Reserved.</p>
    </footer>
</body>
<script src="https://www.gstatic.com/firebasejs/9.6.7/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.6.7/firebase-firestore-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.6.7/firebase-auth-compat.js"></script>

<script src="/public/js/base.js"></script>
<script>
    const firebaseApp = firebase.initializeApp({
        //Your own Firebase Credentials..
        apiKey: "AIzaSyBT-dRzb2pbR9exsiiIJtoILkf5ck3X0pg",
        authDomain: "tourpal-e680e.firebaseapp.com",
        databaseURL: "https://tourpal-e680e-default-rtdb.firebaseio.com",
        projectId: "tourpal-e680e",
        storageBucket: "tourpal-e680e.appspot.com",
        messagingSenderId: "648603206107",
        appId: "1:648603206107:web:c425541113bc713a2be7fe",
        measurementId: "G-G9LL7MBNG0"
      });
      const db = firebaseApp.firestore();
      const body= document.querySelector("#body1")

      let links= document.querySelectorAll(".entry_link")
      let myArray = Array.from(links)
      let i = 0
      myArray[0].innerHTML = "assad"
      //TODO: 
    db.collection("trip").get().then((querySnapshot) => {
        querySnapshot.forEach((doc) => {
            // doc.data() is never undefined for query doc snapshots
            console.log(doc.id, " => ", doc.data());
            body.innerHTML+=`<br>`
            //body.innerHTML+=`${doc.data().destination}`
            body.innerHTML+=`${doc.id}`

            myArray[0].innerHTML = `${doc.id}`
            i++;
        });
      });
</script>
</html>